<?xml version="1.0"?>
<!--
/**
 * Copyright © Wubinworks. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wubinworks_disablecustomer>
            <general>
                <version>1.0.0</version>
                <default_disabled_customer_message><![CDATA[Your account has been disabled. Please contact the store owner.]]></default_disabled_customer_message>
            </general>
        </wubinworks_disablecustomer>
    </default>
</config>
